#window {
	font-family: "Iosevka Nerd Font", sans-serif;
	font-size: 16px;
	background-color: rgba(20,12,11,0.9);
	color: #e2ccb0;
	border-radius: 18px;
	border: 3px solid #140c0b;
}

#outer-box {
	padding: 18px;
	margin-top: 8px;
}

#input {
	background-color: rgba(20,12,11,1.0);
	color: #ffffff;
	padding: 8px 12px;
	border: 0px solid #140c0b;
	border-radius: 8px;
}

#scroll {
	margin-top: 8px;
}

#img {
	padding-right: 10px;
}

#text:selected {
	color: rgba(20,12,11,1.0);
}

#entry {
	padding: 4px;
}

#entry:selected {
	background-color: rgba(201,103,73,0.9);
	border-radius: 6px;
}
